In [31]:
import pandas as pd
from datetime import datetime

In [39]:
df_train = pd.read_csv('train__dataset.csv')
df_test = pd.read_csv('test___dataset.csv')

In [40]:
df_train.index.name = 'id'
df_test.index.name = 'id'

In [41]:
df_train

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
id,,,,,,,,,,,,,,,,,,
0,2,0,1,4,0,0,0,118,2017,12,28,1,0,0,0,110.80,2,0
1,2,1,0,2,0,0,0,17,2018,4,14,1,0,0,0,145.00,0,1
2,1,0,1,5,0,0,0,349,2018,10,4,0,0,0,0,96.67,0,1
3,1,0,2,4,0,0,0,69,2018,6,12,0,0,0,0,120.00,0,1
4,2,0,0,4,1,0,0,11,2018,1,20,1,0,0,0,69.50,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18132,1,0,0,2,0,0,0,103,2018,4,19,0,0,0,0,115.00,0,1
18133,2,0,0,3,0,0,0,129,2018,8,10,1,0,0,0,88.01,1,0
18134,2,0,0,1,0,0,0,90,2018,7,13,1,0,0,0,105.30,0,1
18135,2,0,0,3,0,0,0,18,2018,11,10,1,1,0,1,123.33,1,0
18136,1,0,1,1,0,0,0,159,2018,4,9,0,0,0,0,65.00,0,0

In [46]:
df_train.rename(columns={
        'arrival_year': 'year',
        'arrival_month': 'month',
        'arrival_date': 'day'
    }, inplace=True)

In [48]:
df_train['date'] = pd.to_datetime(df_train[['year', 'month', 'day']], errors='coerce')

In [54]:
df_train['weekday'] = df_train['date'].apply(lambda x: x.weekday())

In [56]:
print(df_train.shape)
print(df_test.shape)

(18137, 20)
(18138, 17)

In [57]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18137 entries, 0 to 18136
Data columns (total 20 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   no_of_adults                          18137 non-null  int64
 1   no_of_children                        18137 non-null  int64
 2   no_of_weekend_nights                  18137 non-null  int64
 3   no_of_week_nights                     18137 non-null  int64
 4   type_of_meal_plan                     18137 non-null  int64
 5   required_car_parking_space            18137 non-null  int64
 6   room_type_reserved                    18137 non-null  int64
 7   lead_time                             18137 non-null  int64
 8   year                                  18137 non-null  int64
 9   month                                 18137 non-null  int64
 10  day                                   18137 non-null  int64
 11  market_segment_type                   18137 non-null  int64
 12  repeated_guest                        18137 non-null  int64
 13  no_of_previous_cancellations          18137 non-null  int64
 14  no_of_previous_bookings_not_canceled  18137 non-null  int64
 15  avg_price_per_room                    18137 non-null  float64
 16  no_of_special_requests                18137 non-null  int64
 17  booking_status                        18137 non-null  int64
 18  date                                  18116 non-null  datetime64[ns]
 19  weekday                               18116 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(17)
memory usage: 2.8 MB

In [60]:
print(df_train.isnull().values.any())
print(df_train.isna().values.any())

True
True

In [63]:
print(df_train.isnull().sum())
print(df_train.isna().sum())

no_of_adults                             0
no_of_children                           0
no_of_weekend_nights                     0
no_of_week_nights                        0
type_of_meal_plan                        0
required_car_parking_space               0
room_type_reserved                       0
lead_time                                0
year                                     0
month                                    0
day                                      0
market_segment_type                      0
repeated_guest                           0
no_of_previous_cancellations             0
no_of_previous_bookings_not_canceled     0
avg_price_per_room                       0
no_of_special_requests                   0
booking_status                           0
date                                    21
weekday                                 21
dtype: int64
no_of_adults                             0
no_of_children                           0
no_of_weekend_nights                     0
no_of_week_nights                        0
type_of_meal_plan                        0
required_car_parking_space               0
room_type_reserved                       0
lead_time                                0
year                                     0
month                                    0
day                                      0
market_segment_type                      0
repeated_guest                           0
no_of_previous_cancellations             0
no_of_previous_bookings_not_canceled     0
avg_price_per_room                       0
no_of_special_requests                   0
booking_status                           0
date                                    21
weekday                                 21
dtype: int64

In [64]:
df_train.isna().any()

no_of_adults                            False
no_of_children                          False
no_of_weekend_nights                    False
no_of_week_nights                       False
type_of_meal_plan                       False
required_car_parking_space              False
room_type_reserved                      False
lead_time                               False
year                                    False
month                                   False
day                                     False
market_segment_type                     False
repeated_guest                          False
no_of_previous_cancellations            False
no_of_previous_bookings_not_canceled    False
avg_price_per_room                      False
no_of_special_requests                  False
booking_status                          False
date                                     True
weekday                                  True
dtype: bool

In [62]:
df_train.isnull().any()

no_of_adults                            False
no_of_children                          False
no_of_weekend_nights                    False
no_of_week_nights                       False
type_of_meal_plan                       False
required_car_parking_space              False
room_type_reserved                      False
lead_time                               False
year                                    False
month                                   False
day                                     False
market_segment_type                     False
repeated_guest                          False
no_of_previous_cancellations            False
no_of_previous_bookings_not_canceled    False
avg_price_per_room                      False
no_of_special_requests                  False
booking_status                          False
date                                     True
weekday                                  True
dtype: bool

In [29]:
df_train.groupby(by= ['booking_status']).size().reset_index(name='counts')

   booking_status  counts
0               0   12195
1               1    5942

In [33]:
datetime.now()

6